@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: "VT323", monospace;
}

.game-container {
    position: relative;
    height: 200px;
    width: 450px;
    border: 1px solid black;
    background-image: url(./images/game\ background.jpg);
    background-size: 100% 100%; 
    background-position: center; 
    background-repeat: no-repeat;
    margin: 0 auto; 
}

.cat {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.obstacle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    animation: obstacle 2s infinite linear;
    margin: auto;
}

@keyframes obstacle {
    0% { right: 0; }
    100% { right: 100%; }
}

#game-over {
    text-align: center; /* Center align content */
    margin-top: 20px; /* Adjust margin as needed */
}

#game-over h1 {
    margin-bottom: 20px;
}

#game-over button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 5px; /* Adjust margins as needed */
}


#jumpButton {
    display: block; /* Change to block to center horizontally */
    width: fit-content; /* Adjust width as needed */
    margin: 10px auto 0; /* Auto margin horizontally centers the button */
    border-radius: 5px;
    overflow: hidden;
}


#jumpButton img {
    width: 50px;
    height: auto;
    display: block;
}

.try-again-button {
    font-family: "VT323", monospace;
}

#jumpCount {
    text-align: center;
    font-size: 50px;
}


@media (max-width: 768px) {
    #jumpButton {
        margin: 10px auto 0; /* Auto margin centers horizontally */
    }

    #game-over {
        margin-top: 20px; /* Adjust margin as needed */
    }

    .game-container {
        width: 90%; /* Adjust width to fill the screen */
        max-width: 100%; /* Ensure it doesn't exceed screen width */
        margin: 10px auto; /* Auto margin centers horizontally */
        padding: 10px; /* Optional: Add padding for better spacing */
    }
}
  
